#cartContainer {
  position: sticky;
  z-index: 1;
  right: 0;
  flex-grow: 1;
  border-left: 1px solid gray;
  background-color: white;
}

.cartHeadline {
  text-align: center;
  width: 300px;
  color: blue;
  margin-top: 24px;
}
