.mainMaxWidht {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 1440px;
  padding-left: 0;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  background-color: rgb(245, 247, 248);
}

#mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.heroImage {
  height: 320px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
  position: absolute;
  z-index: 0;
}

/*---Heafline---*/
#headline {
  margin-top: 260px;
  padding-left: 24px;
  display: flex;
  align-items: flex-end;
  gap: 120px;
  z-index: 1;
}

.headlineImage {
  border-radius: 50px;
  border: 4px solid white;
  height: 120px;
  width: 120px;
  object-fit: cover;
}
