.mainMaxWidht {
  display: flex;
  flex-direction: row-reverse;
  width: 100%;
  max-width: 1440px;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  font-weight: 300;
  background-color: rgb(245, 247, 248);
}

#mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}

.heroImage {
  height: 320px;
  width: 100%;
  object-fit: cover;
  object-position: bottom;
}

/*---Heafline---*/
#headline {
  padding-top: 16px;
}

.headlineImage {
  border-radius: 50px;
  border: 4px solid white;
  height: 120px;
  width: 120px;
  object-fit: cover;
  position: absolute;
  top: 260px;
  right: 40%;
}

.valuation {
  color: orange;
  padding-bottom: 24px;
}

.dishesCategories {
  padding: 16px 24px;
  background-color: rgba(255, 166, 0, 0.4);
  border-top-left-radius: 15px;
}

.dishesCategoriesLink {
  color: rgb(74, 74, 74);
  font-weight: 600;
}

.headlineImageMeal {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-bottom-left-radius: 15px;
}

/*---MaindishesContent---*/
.mainDishesContainer {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 8px;
}

.maindishesHeadline {
  padding: 24px 16px;
  padding-bottom: 0px;
}

.dishesBox {
  border: 1px solid black;
  border-radius: 15px;
  background-color: white;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 24px 16px;
  gap: 12px;
}

.dishesBoxAddBtn {
  position: absolute;
  top: 0;
  right: 0;
  height: 32px;
  width: 32px;
  object-fit: cover;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-top-right-radius: 15px;
}

.dishesBoxAddBtn:hover {
  cursor: pointer;
  background-color: orange;
  border-top-right-radius: 15px;
}

.dishesBoxHeadline {
  font-size: 26px;
  font-weight: 700;
}

.dishesBoxPrice {
  color: orange;
  font-weight: 700;
}
